.head
{
    text-align: center;
    font-size: 40pt;
}

.logo
{
    width: 189px;
    margin-right: auto;
    margin-left: auto;
}

.email
{
    font-size: 15pt;
    text-align: center;
}

.num
{
    font-size: 15pt;
    text-align: center;
}